body{
    width:100%;
}

#login{
    padding:1rem 4rem;
}
.fa{
    font-size: 2rem;
}
.nav__wrapper{
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}

#score{
    margin-left:auto;
}
#questionNoAndScore,#question,#answer{
    margin-bottom:4rem;
}
#question{
    text-align: left;
}
#answer{
    height:8rem;
    text-align: center;
}